{% load sample_tags %}
    
    
<!-- Banner section -->
<div class="container-fluid" id="banner">
    <div class="container banner">
        <!-- <h1>WE GIVE YOU EVERYTHING <br> RIGHT HERE, WHERE YOU NEED IT.</h1> -->
        <!-- <h4 class="pb-3">Make your stay memorable.</h4> -->
        {% for content in bannercontent %}
            <h1 data-aos="zoom-in" data-aos-duration="3000">{{content.text}}</h1>
            <h4 class="pb-3" data-aos="zoom-in-up" data-aos-duration="2900">{{content.slogan}}</h4>
        {% endfor %}
        <button class="edit-profile" style="padding: 1rem; margin-right:1rem;" data-aos="zoom-in-down" data-aos-duration="2900"><a href="{% url 'rooms' %}" class="edit-profile text-white">Our Rooms</a></button>
        <button class="edit-profile" style="padding: 1rem; margin-right:1rem;" data-aos="zoom-in-left" data-aos-duration="2500"><a href="{% intralink 'index' 'contact-form' %}" class="edit-profile text-white">Contact Us</a></button>
    </div>
</div>
<!-- Banner section done -->